<h1>Join the <%= @group.name %> group.</h1>

<% if current_user %>
	<%= button_to "Join", {:controller => :join_groups, :action => 'create', :id => @group.id} %>
<% else %>
	<a class="btn btn-large btn-info" href="/auth/twitter">Login with Twitter</a>
	<a class="btn btn-large btn-primary" href="/auth/facebook">Login with Facebook</a>
<% end %>
