<h1>Enter your email.</h1>
<div class="enter-email">
<%= form_tag("/pages/update_email", method: "get", class: "form") do %>
  <%= text_field_tag(:email, current_user.email, class: "email-entry") %>
  <%= submit_tag("Continue", class: "btn btn-continue") %>
<% end %>
<h2>We'll email you only once a week.</h2>
</div>
