<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %>,</h1>
    <p>
      You still haven't posted something for this week.
    </p>
  </body>
</html>