<footer class="footer">
  <small class="offset1">
    Created by <a href="http://twitter.com/jon_castillo">@jon_castillo</a>
  </small>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</footer>